#restart-button{ 
    display:none;
    
}
h1{
    text-align: center;
}
.color-info{
    text-align:center;
}

.color-chip {
    display:inline-block;
    border: 1px solid none;
    border-radius: 30%;
    background-color: yellow;
}

.color-chip.yellow{background-color: yellow;}
.color-chip.green{background-color: green; color:white}
.color-chip.blue{background-color: blue; color:white}
.color-chip.purple{background-color: purple; color:white}
.color-chip.red{background-color: red; color:white}
.button-group{
    align-items:center;
      
}